<footer>
    <div class="f-info  " id="footer_div">
        <div class="f-info-socials mt-2">
            <i class="fa-brands fa-square-facebook fa-1x"></i>
            <i class="fa-brands fa-square-instagram fa-1x"></i>
            <i class="fa-brands fa-linkedin fa-1x"></i>
        </div>

        <div class="f-info-brand fs-5"> &copy; Holiday Hub Private Limited</div>


        <div class="f-info-links fs-5 mb-2">
            <a href="#footer_div">Privacy</a>&nbsp; &nbsp; 
            <a href="#footer_div">Terms</a>
        </div>

    </div>
</footer>