<% layout("/layouts/boilerplate") %>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 border rounded p-4 shadow-sm bg-light">
            <h1 class="text-center mb-4">Forgot Password</h1>
            <form id="forgotPasswordForm" action="/forgot-password"  method="POST" class="needs-validation " novalidate>
                <div class="mb-3">
                    <label for="email" class="form-label">Enter your email</label>
                    <input name="email" id="email"  maxlength="60" type="email" placeholder="Enter your registered email"
                        class="form-control" required>
                        <div class="valid-feedback">Looks Good!</div>
                        <div class="invalid-feedback">Please enter a valid email !</div>
                </div>
                <div class="text-center">
                    <button id="submitBtn" class="btn btn-primary" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>



<script>
   const forgotPasswordForm = document.getElementById('forgotPasswordForm');
   const submitBtn = document.getElementById('submitBtn');

   forgotPasswordForm.addEventListener('submit', function (event) {
        // Check if the form is valid
        if (!forgotPasswordForm.checkValidity()) {
            event.preventDefault(); // Prevent form submission if invalid
            event.stopPropagation(); // Stop further event propagation
        } else {
            submitBtn.disabled = true; // Disable the button
            submitBtn.textContent = 'Processing...'; // Change button text
        }

        // Add validation classes
        forgotPasswordForm.classList.add('was-validated');
    });
</script>
