<% layout("/layouts/boilerplate") %>

 <% layout("/layouts/boilerplate") %>

<div class="container-fluid mt-5">
    <div class="row justify-content-center">
        <div class=" col-xl-5 col-lg-5 col-md-6 col-sm-8  border rounded p-4 shadow-sm bg-light">
            <h1 class="text-center mb-4">Login</h1>
            <form action="/login" method="POST" class="needs-validation " novalidate>
                <div class="mb-3">
                    <label for="username" class="form-label">User Name</label>
                    <input name="username" id="username" type="text" class="form-control" required />
                    <div class="valid-feedback">Looks Good!</div>
                    <div class="invalid-feedback">Please enter a valid user name!</div>
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input name="password" id="password" type="password" class="form-control" required />
                    <div class="valid-feedback">Looks Good!</div>
                    <div class="invalid-feedback">Please enter a valid password !</div>
                </div>

                <div class="text-center">
                    <button class="btn btn-success login-btn" type="submit">Login</button>
                </div>

            </form>
        </div>
    </div>
</div>

